.body{
	background-color: grey;
    margin: 0;
	font-family: 'ProximaNovaRegular';
}

.header{
	background-color: rgba(51, 51, 51, 0.8);
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1071;
	width: 100%;
	color: white;

}

.header-portpholio{
	margin-left:  80px;
}

.header-portpholio h1{
	font-weight: normal;
	margin: 0;
} 

.header-portpholio h5{
	font-weight: normal;
	margin : 0 0 5px 10px;
} 

ul {
	margin: 0;
    list-style-type: none;
}

.header-menu li{
    float: left;
    margin: 5px;
    border: 3px solid grey;
    border-radius: 5px;
}

.header-menu a {
    display: flex;
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.header-menu a:hover:not(.active){
	background-color: grey;
	color: white;
}

main{
	margin: 0 80px;
}

.navigation-social{
	z-index: 6500;
    position: fixed;
    right: 60px;
    top: 50px;
    bottom: 0;
    transform: rotate(-90deg) translate(50%,50%);
    transform-origin: 100% 50%;
}

.social-icon{
transform: rotate(90deg);
}

.navigation-social li{
	float: left;
	margin-left: 10px;
}

.introduction-background{
	height: 100%;
	width: 100%;
	background-image: url("image/background-programmer.jpg") ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 3px;
	border-radius: 10px;
}


.introduction-name{
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 300px 0 400px ;
	font-weight: bold;
}

.hi-name {
font-size: 80px;
margin-bottom: 5px;
}

.hi-role{
	font-size: 20px;
}

.introduction-name img{
	border-radius: 50%;
}

.about-me{
	background-image: url("image/background-hi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px 0 400px;
	margin-bottom: 5px;
	border-radius: 10px;
}

.about-me{
	font-size: 40px;
    line-height: 1.4;
    text-indent: -5px;
}

.about-me p{
	padding: 0 200px;
	font-size: 20px;
}

.project-items{
	display: flex;
	flex-direction: column;
}

.project-item{
display: flex;
background-image: url("image/background-work.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 600px;
background-color: #5C5C5C;
margin-bottom: 2px;
padding: 75px 15px;
border:2px solid ;
}

.project-item-detail{
position: relative;
left: 20px;
width: 40%;
padding-left: 15px;
color: white;
transform-style: preserve-3d;
perspective: 500px;
}

.project-img{
	position: absolute;
	background-image: url("image/work-wistia.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	border-style: groove;
	width: 100%;
	height:100%;
	top: 2%;
	transform-origin:100%;
	transition: all 1s ease;
}

.project-item-detail:hover .project-img{
	transform:rotateY(-40deg);
	opacity: 0.2;
}

.project-item-detail p{
	font-size: 20px;
}

.project-item-detail a {
	text-decoration: none;
	color: #3e3d7c;
	font-weight: bold;
	font-size: x-large;
}

input[type=text], select {
    padding: 8px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
textarea{
	border: 1px solid #ccc;
    border-radius: 4px;


}

.contact-me-cust {
	opacity: 0.8;
	width: 40%;
	height: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    margin-right: 100px;
}

.form-cust{
display:flex;
flex-direction: row;
}

.form-input{
 
width: 50%;
display:flex;
flex-direction: column;
justify-content: space-around;

}

.form-label{
height: 120px;
display:flex;
flex-direction:column;
justify-content:space-around;
width:40%;
margin-bottom : 13%;
}

#contact{
	height: 430px;
	border-radius: 10px;
	border: 3px solid;
}

.contact-me{
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-image: url("image/background-contact.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	
}

.contact-me-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    margin-top: 170px;
    margin-right: 160px;
    font-size: x-large;
    color: darkblue;
    font-weight: bold;
}



.footer{
	display: flex;
	justify-content: center;
	color: white;
	border:2px solid black;
	background-color: #262626;
	padding: 5px;
	
}
